<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Diagnóstico Médico</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5 text-center">Resultados del Diagnóstico</h1>
        <div class="card mt-4 shadow">
            <div class="card-body">
                <ul class="list-group">
                    {% for resultado in resultados %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span>
                                <i class="fas fa-check-circle text-success"></i> {{ resultado }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="/" class="btn btn-primary btn-lg">Regresar al Inicio</a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>